<div class="row">
<div class="col-md-8">

<h1>ブログ一覧</h1>
<button type="button" class="btn btn-default"><%=link_to "新規投稿", new_post_path %></button>

<% @posts.each do |post| %>


<li>
<a href="/posts/<%= post.id %>">
<%= post.title %>
</a>
</li>
<% end %>
</div>

<div class="col-md-4">
  <h2>著者</h2>
  <%= @author.name %><br>
  <%= @author.description %>




</div>



</div>

<!-- <div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div> -->
